<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
 		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
 		<listener class-name="com.abd.listeners.CustomListener"/>
	</listeners>

  <test thread-count="5" name="Yahoo Sign Up Test">
    <classes>
      <class name="com.abd.testcases.YmailSignUpTest"/>
    </classes>
  </test>
  
  <test thread-count="5" name="Login Test">
	<parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.abd.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Amazon Test">
    <classes>
      <class name="com.abd.testcases.AmazonTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->

